* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;

}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: violet 3px solid;
    justify-content: space-between;
    row-gap: 20px;
}

.image {
    display: block;
    width: 350px;
}